@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
    border: solid 3px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #888;
    border: solid 3px transparent;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #666;
    border: solid 3px transparent;
    border-radius: 6px;
}
